{% extends 'base.html.twig' %}

{% block title %}Pilotage escape{% endblock %}

{% block body %}
    <h1>Pilotage de l'escape {{ escapeId }}</h1>

    <ul>
        <li>Ouvrir les inscriptions</li>
        <li>Lancer la session</li>
        <li>Arrêter la session</li>
        <li>Réinitialiser</li>
    </ul>
{% endblock %}