{% extends 'basepublic.html.twig' %}

{% block title %}sjbd space{% endblock %}

{% block body %}
    <div class="pilot-page" >

        <div class="pilot-header">
            <h1>Board Sjbd Space</h1>
            <div class="pilot-actions">
                <a href="{{ path('app_logout') }}" class="btn btn--primary">Se déconnecter</a>
            </div>
            {#
            <div class="pilot-summary">
                <div><strong>Escape :</strong>expérience</div>
                <div><strong>Statut :</strong>jeu</div>
            </div>
            #}
        </div>

        <div class="pilot-layout">
            <div class="pilot-teams">
                <header>
                    <div>
                        <h2>actions</h2>
                    </div>
                </header>
                <ul class="team-list" data-pilot-team-list>
                    <li>
                        <a href="{{ path('admin_escape_list') }}" target="_blank">liste escape</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}