<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Jeu OR4{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<body>
<div class="back_head_desk" style="background-image: url('/img/backgrounds/fond_large_escape3.jpeg')">
    <div class="page_fix">
        {% block body %}{% endblock %}
       {# <footer>OR4 • Expérience mobile</footer> #}
    </div>
</div>
</body>
</html>