<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Jeu OR4{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app_mob') }}
    {% endblock %}
</head>
{% set imgback = (back  ? '/img/backgrounds/fond_escape_2.jpg' : (step is defined and step == 'E' ? '/img/backgrounds/chesseqrcode.png' : '/img/backgrounds/fond_mob_agent.png') ) %}
{% block javascripts %}
    {{ encore_entry_script_tags('app_mob') }}
{% endblock %}
<body>
{#  <div class="back_head" style="background-image: url('/img/backgrounds/fond_escape.png')"> #}
    <div class="back_head" style="background-image: url({{ imgback }})">
<div class="page">
    {% block body %}{% endblock %}
  {#   <footer>sjbd advanced experiences</footer> #}
</div>
</div>
</body>
</html>