{% extends 'game/base.html.twig' %}

{% block title %}Rejoindre une partie{% endblock %}

{% block body %}

        <header>
            <div class="titre_header">
                <h1>Rejoindre la mission</h1>
                <p class="hint">Entrez votre nom d'équipe.</p>
            </div>
            <span class="badge">Join</span>
        </header>


    <div class="card stack">
        {% if not game_open %}
            <div class="status closed">Les inscriptions sont fermées pour le moment.</div>
        {% else %}
            <div class="status">Les inscriptions sont ouvertes.</div>
        {% endif %}

        {% if error %}
            <div class="status closed">{{ error }}</div>
        {% endif %}

        <form method="post" class="stack">
            <label>
                <span class="hint">Nom d'équipe</span>
                <input class="input" type="text" name="team_code" placeholder="Ex: cactus" value="{{ team_code }}" required>
            </label>
            <button class="btn" type="submit" {% if not game_open %}disabled{% endif %}>Continuer</button>
        </form>
    </div>

    <div class="card">
        <h2>Besoin d'aide ?</h2>
        <p class="hint">Le nom de votre equipe est indiqué sur votre table de jeu. Entrez le nom, puis validez pour accéder à la salle d'attente.</p>
    </div>
{% endblock %}