{% extends 'game/base.html.twig' %}

{% block title %}Victoire{% endblock %}

{% block body %}
    <header>
        <div>
            <h1>Bravo {{ team_code }} !</h1>
            <p class="hint">Vous avez trouvé le secret.</p>
        </div>
        <span class="win_play"> {{ message_winner }}</span>
    </header>

    <div class="card stack">
        <div class="status">Bravo</div>
        <h2>L'équipe {{ winner_name }} vous êtes trop fort !!</h2>
        <p class="hint">Maintenant que vous savez où se trouve le coffre, courez vite l'ouvrir en utilisant le code secret...</p>
       {#  <a class="btn btn-outline" href="{{ path('game_join') }}">Rejouer</a> #}
    </div>
{% endblock %}