{% extends '/game/base_desk.html.twig' %}

{% block title %}Fin de partie{% endblock %}

{% block body %}
    <div class="winner-screen">
        <header class="winner-header">
            <h1>Fin de partie</h1>
            <p class="hint">L'équipe {{ winner.code }} a trouvé le secret.</p>
        </header>

        <div class="winner-card">
            <div class="status">Fin de la partie !</div>
            <h2 >🎉<br>L’équipe {{ winner.code }} a découvert le code de la malle !</h2>
            {% if winner.code %}
                <p class="hint_win">Il ne lui reste plus qu’à trouver le coffre… et la clé de l’office.</p>
            {% endif %}
            <p class="hint_win">Merci à toutes les équipes pour leur participation.
                Place maintenant au buffet pour célébrer cette victoire collective !</p>
        </div>
{#
        <div class="card stack">
            <div class="status">Progression finale</div>
            <h2>{{ scoreboard.total_steps }} étapes</h2>
            <p class="hint">La partie est terminée.</p>
        </div>
#}
    </div>
{% endblock %}