<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Jeu OR4{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<body>
<div class="page pilot">
    {% block body %}{% endblock %}
    <footer>sjbd advanced experiences</footer>
</div>
</body>
</html>