<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>
<body class="ia">
<div id="controls">
  <input type="text" id="user-input" placeholder="Posez une question..." />
  <button id="generate-button">Générer</button>
</div>
<svg></svg>
{% block javascripts %}
  {{ encore_entry_script_tags('d3') }}
{% endblock %}
</body>
</html>
