<form id="response-form">
  <textarea name="reformulated_question" rows="3" id="reformulated-question" style="width: 100%;">{{ question }}</textarea>
  <button type="button" id="submit-question">Envoyer</button>
</form>
