{% extends 'admin_base.html.twig' %}

{% block title %}sjbd space{% endblock %}

{% block body %}
    <div class="pilot-page" >

        <div class="pilot-header">
            <h1>Bienvenu sur Sjbd Space</h1>
            <div class="pilot-summary">
                <div><strong>Escape :</strong>expérience</div>
                <div><strong>Statut :</strong>jeu</div>
            </div>
        </div>

        <div class="pilot-layout">
            <div class="pilot-teams">
                <header>
                    <div>
                        <h2>au menu</h2>
                    </div>
                </header>
                <ul class="team-list" data-pilot-team-list>
                            <li>

                                <span class="team-list__code">escape game</span>
                                <span class="team-list__state">codex</span>
                            </li>
                </ul>
            </div>
        </div>
        <a href="{{ path('admin_escape_list') }}" target="_blank">liste escape</a>
    </div>

{% endblock %}